.CartWidget {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    text-transform: none;
    color: $colorNegro;
    border: none;
    background-color: $colorPrimario;

    &:hover {
        color: $colorNegro;
    }

    .CartImg {
        margin-right: 7px;
        width: 50px;
        height: 50px;
        transition: 500ms;
    }

    .CartNumbers {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin: 0;
        }
    }
}