.counter {
    margin: 15px auto 15px auto;
    width: 100%;

    .contadorBotones {
        @include flex(space-between, center);
        flex-direction: row;
        flex-wrap: nowrap;
        width: 80%;
        height: 35px;
        margin: 0 auto 0 auto;

        .contadorBoton {
            height: 30px;
            width: 20%;
            margin: 0;
            @extend %botones;
            @include flex(center, center);
        }

        .counterValue{
            color: $colorPrimario;
            font-size: 30px;
            padding: 10px 20% 10px 20%;
            margin-bottom: 0;
            height: 100%;
            width: 20%;
            @include flex(center, center);
        }
    }
    .anadirBoton {
        height: 30px;
        padding: 10px 0 10px 0;
        margin: 4px auto 0 auto;
        width: 80%;
        @extend %botones;
        font-weight: bolder;
        @include flex(center, center);
    }
}