.detailCard {
    margin: 40px auto 0 auto;
    padding: 40px 20px 40px 20px;
    position: relative;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row !important;

    &::before {
        content: "";
        position: none;
        top: none;
        width: none;
        height: none;
        background: none;
        transform: none;
        transition: none;
    }

    &:hover::before {
        top: none;
        transform: none;
    }

    &::after {
        content: none;
    }

    .imgBox {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        padding-top: 0;

        .productImage {
            @extend %img;
            height: 330px;
            width: 330px;
        }
    }

    .contentBox {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
        padding: 0;

        .productTitle {
            font-size: 35px;
            color: $colorNegro;
            font-weight: 1000;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        section {
            .info {
                display: flex;
                justify-content: space-around;
                font-size: 30px;
                color: $colorPrimario;
                font-weight: 500;
                letter-spacing: 1px;
                padding: 5px;
            }
        }

        .ItemFooter {
            width: 100%;

            .cta {
                border: none;
                background: none;
                text-decoration: none;
                color: $colorNegro;

                span {
                    padding-top: 10px;
                    padding-bottom: 20px;
                    letter-spacing: 1px;
                    font-size: 30px;
                    font-weight: 1000;
                    padding-right: 13px;
                    text-transform: uppercase;

                    &:hover {
                        color: $colorNegro;
                    }
                }

                svg {
                    transform: translateX(-8px);
                    transition: all 0.4s ease;
                }

                &:hover svg {
                    transform: translateX(0);
                }

                &:active svg {
                    transform: scale(0.9);
                }
            }
        }

    }
}

.muchas {
    color: green !important;
    text-transform: uppercase;
}

.pocas {
    color: red !important;
    text-transform: uppercase;
}