@media screen and (max-width: 1024px) {
    .itemList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {

    // .btn-wsp {
    //     width: 63px;
    //     height: 63px;
    //     line-height: 66px;
    // }

    .itemList {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 480px) {

    .itemList {
        grid-template-columns: 1fr;
    }

    // .btn-wsp {
    //     height: 50px;
    //     width: 50px;
    //     line-height: 53px;
    // }
}