.nb {
    background-color: $colorPrimario;
    top: 0;
    width: 100%;
    position: sticky !important;
    z-index: 10;

    .links {
        @include flex(space-evenly, center);
        width: 100%;

        .nblink {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            transition: all 250ms ease-out;

            &:hover {
                color: $colorNegro;
            }
        }
    }
}

.logo {
    height: 71px;
    width: 207px;

    &:hover {
        transform: scale(1.07);
    }
}